@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-montserrat);
  --font-signature: var(--font-caveat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toyota-red: #ea0207;
  --toyota-dark: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
}
